In [1]:
import pandas as pd


url = "https://raw.githubusercontent.com/PinkWink/playing_data/master/data/reason_not_exercise.txt"

raw_data = pd.read_csv(url, sep="\t")

In [7]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   대분류                52 non-null     object
 1   분류                 52 non-null     object
 2   운동을 할 충분한 시간이 없어서  52 non-null     float64
 3   함께 운동을 할 사람이 없어서   52 non-null     float64
 4   운동을 할 만한 장소가 없어서   52 non-null     float64
 5   운동을 싫어해서           52 non-null     float64
 6   운동을 할 충분한 비용이 없어서  52 non-null     float64
 7   기타                 52 non-null     object
dtypes: float64(5), object(3)
memory usage: 3.4+ KB

In [ ]:
raw_data.drop("기간", axis="columns",inplace=True)

In [8]:
raw_data.head()

,대분류,분류,운동을 할 충분한 시간이 없어서,함께 운동을 할 사람이 없어서,운동을 할 만한 장소가 없어서,운동을 싫어해서,운동을 할 충분한 비용이 없어서,기타
0,서울시,서울시,46.8,5.0,4.3,37.3,5.2,1.4
1,성별,남자,52.4,4.4,4.9,32.4,4.9,1.1
2,성별,여자,42.5,5.6,3.9,41.0,5.4,1.7
3,연령별,10대,55.3,4.8,3.9,32.6,3.5,-
4,연령별,20대,46.0,4.2,4.5,38.8,6.4,0.1