In [42]:
import pandas as pd
import mysql.connector
con = mysql.connector.connect(
    host = "database-1.cxyqwq0ceyfr.ap-northeast-2.rds.amazonaws.com",
    port = "3306",
    user = "robot",
    password = "8470",
    database = "amrbase"
)

In [43]:
df = pd.read_csv("police_station.csv")
df.head()

   서울특별시경찰청       서울시 종로구 사직로8길 31
0   서울중부경찰서        서울특별시 중구 수표로 27
1   서울종로경찰서       서울특별시 종로구 율곡로 46
2  서울남대문경찰서      서울특별시 중구 한강대로 410
3  서울서대문경찰서     서울특별시 서대문구 통일로 113
4   서울혜화경찰서  서울특별시 종로구 창경궁로 112-16

In [ ]:
cur = con.cursor(buffered=True)
sql = "insert into police_station values (%s, %s)"
for i, row in df.iterrows():
    cur.execute(sql, tuple(row))
    print(tuple(row))

con.commit()

In [46]:
con.close()

In [ ]:
cur.execute("select * from police_station")
result = cur.fetchall()
for row in result:
    print(row)
df