In [3]:
import pandas as pd
import mysql.connector
con = mysql.connector.connect(
    host = "database-1.cd2is2gsweff.ap-northeast-2.rds.amazonaws.com",
    port = "3306",
    user = "admin",
    password = "kim82458529",
    database = "amr_base"
)

In [10]:
cur = con.cursor(buffered = True)
df = pd.read_csv("../../edm/data/유신사.csv")

sql = "insert into yousinsa values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"

In [14]:
for i, row in df.iterrows():
    
    cur.execute(sql,tuple(row))
    con.commit()

In [25]:
con.commit()

In [15]:
con.close()