In [1]:
import pandas as pd
import mysql.connector
con = mysql.connector.connect(
    host = "database-1.cxyqwq0ceyfr.ap-northeast-2.rds.amazonaws.com",
    port = "3306",
    user = "robot",
    password = "8470",
    database = "amrbase"
)

In [3]:
cur = con.cursor(buffered=True)
df = pd.read_csv("def.csv")
sql = "insert into def values(%s,%s,%s,%s,%s,%s)"

In [4]:
for i, row in df.iterrows():
    cur.execute(sql, tuple(row))

In [5]:
con.commit()

In [ ]:
con.close()