In [8]:
import pandas as pd
import mysql.connector
con = mysql.connector.connect(
    host = "database-1.cxyqwq0ceyfr.ap-northeast-2.rds.amazonaws.com",
    port = "3306",
    user = "robot",
    password = "8470",
    database = "amrbase"
)

In [ ]:
cur = con.cursor(buffered=True)
df = pd.read_csv("seoul_cctv.csv")
sql = "insert into seoul_cctv values(%s, %s, %s, %s, %s, %s)"
df

In [5]:
for i,row in df.iterrows():
    cur.execute(sql,tuple(row))

In [6]:
con.commit()

In [ ]:
cur.execute("select * from seoul_cctv;")
result = cur.fetchall()
for row in result:
    print(row)
df = pd.DataFrame(result)
df.head()

In [12]:
con.close()