In [10]:
import pandas as pd
import mysql.connector
con = mysql.connector.connect(
    host = "database-1.cxyqwq0ceyfr.ap-northeast-2.rds.amazonaws.com",
    port = "3306",
    user = "robot",
    password = "8470",
    database = "amrbase"
)

In [11]:
sql = "insert into movie values(%s ,%s ,%s )"
df = pd.read_csv("movie.csv")
cur = con.cursor(buffered = True)

In [12]:
for i,row in df.iterrows():
    
    cur.execute(sql, tuple(row))

In [13]:
con.commit()

In [16]:
con.close()