In [17]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from tqdm.notebook import tqdm
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains
import time
from selenium.webdriver.common.by import By
import urllib
from bs4 import BeautifulSoup
from urllib.request import urlopen, Request
from user_agent import generate_user_agent
import json
import requests

In [18]:
df = pd.read_csv("../../../../data/유신사_0122.csv")

In [2]:
###########database 추출
import mysql.connector
conn = mysql.connector.connect(
    host = "database-1.cd2is2gsweff.ap-northeast-2.rds.amazonaws.com",
    port = "3306",
    user = "admin",
    password = "kim82458529",
    database = "amr_base"
)
cursor = conn.cursor(buffered=True)
cursor.execute("SELECT * FROM yousinsa")
columns = [i[0] for i in cursor.description]
df = pd.DataFrame(cursor.fetchall(), columns=columns)
cursor.close()
conn.close()

In [19]:
df = pd.read_csv("../../../../data/유신사_0122.csv")
df["선호집단"] = df["선호집단"].replace("no_data", "무성")
df["선호집단"] = df["선호집단"].str.split("대")
df['선호성별'] = df['선호집단'].apply(lambda x: x[-1])

In [28]:
df["선호성별"]

0        남성
1        무성
2        여성
3        여성
4        여성
       ...
5665     무성
5666     무성
5667     무성
5668     여성
5669     남성
Name: 선호성별, Length: 5670, dtype: object

In [41]:
df.head()

,Unnamed: 0,링크,이름,브랜드,성별,할인율,대분류,중분류,소분류,좋아요수,리뷰개수,회원가,일반가,태그,상품번호,누적 구매수,선호집단,선호성별
0,0,https://www.musinsa.com/app/goods/1778404?loc=...,2WAY 스웻 후드 집업 (MELANGE GREY),toffee,"['남성', '여성']",13,아우터,후드 집업,NaN,"218,205",81445,34710,45000,"['후드', '집업후드', '트레이닝세트', '셋업', '세트', '후드티', '오...",1778404,99541,"[19~23, 남성]",남성
1,1,https://www.musinsa.com/app/goods/3777826?loc=...,LONELY/LOVELY WASHED HOODIE ZIP-UP_GRAY,nohant,['여성'],0,아우터,후드 집업,NaN,56,0,186120,188000,"['후드집업', '후드\\/집업', '후드집업추천', '오버핏', '집업후드', '...",3777826,0,[무성],무성
2,2,https://www.musinsa.com/app/goods/3493145?loc=...,[SET] Very Beloa Hood Zip-up & Very Beloa Pant...,avan,['여성'],0,아우터,후드 집업,NaN,"5,040",428,80899,130000,"['후드집업', '후드', '집업후드', '스웻셔츠', '후디', '집업', '패키지']",3493145,1335,"[19~23, 여성]",여성
3,3,https://www.musinsa.com/app/goods/2897038?loc=...,폴라베어 와펜 후드집업 (JM5TZU764IV),jeep,['남성'],0,아우터,후드 집업,NaN,"1,689",36,69500,139000,"['아울렛', '후드티', '오버핏후드티']",2897038,242,"[18, 여성]",여성
4,4,https://www.musinsa.com/app/goods/2730700?loc=...,[SET] 크롭후디 OR 하프집업 셋업_멜란지,partimentowomen,['여성'],25,아우터,후드 집업,NaN,"17,096",905,57874,86900,"['스웻셔츠', '오버핏', '맨투맨', '스웨트셔츠', '집업', '후디', '후...",2730700,1193,"[24~28, 여성]",여성

In [42]:
import mysql.connector
import tqdm
conn = mysql.connector.connect(
    host = "database-1.cd2is2gsweff.ap-northeast-2.rds.amazonaws.com",
    port = "3306",
    user = "admin",
    password = "kim82458529",
    database = "amr_base"
)

cursor = conn.cursor()

In [46]:
alter_query = "ALTER TABLE yousinsa RENAME INDEX ID"
cursor.execute(alter_query)

conn.commit()

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '' at line 1

In [43]:
cursor.execute("ALTER TABLE yousinsa DROP COLUMN like_sex")
alter_query = "ALTER TABLE yousinsa ADD COLUMN like_sex VARCHAR(255)"
cursor.execute(alter_query)

In [44]:


for index, row in df.iterrows():
    update_query = f"UPDATE yousinsa SET like_sex = '{row['선호성별']}' WHERE Unnamed_0 = {index}"
    cursor.execute(update_query)
    conn.commit()

ProgrammingError: 1054 (42S22): Unknown column 'Unnamed_0' in 'where clause'

In [40]:

cursor.close()
conn.close()

In [5]:
a = ["asd","bsd"]
b = "asdgadf"
if type(b) == list:
    print("a")
else:
    print("b")

b

In [8]:
str(a).replace("[","").replace("]","").replace("'","").replace(",","\n")

'asd\n bsd'